# folders
cup/bidu
build/*
dist/
docs/_build/
cup.egg-info/

# cup files
cup/net/async/msgcenter_dict.py
cup.tar
cup.zip
cup.tar.gz
cup/ChangeLog.bak

# other files begin {
*.pyc
.svn
build.sh
*.py.original
.DS_Store
*.*~
*.log
*.log.wf
doc.*
doc
github_doc
output
release
cscope.files
cscope.in.out
cscope.out
cscope.po.out
issue.info
tags
*.un~
*.tar
*/*.tar.gz

### folders ###
build
tmp
cup.bak
MANIFEST

### macOS template                                                                                     
## General                                                                                              
.DS_Store                                                                                              
.AppleDouble                                                                                           
.LSOverride 

# Files that might appear in the root of a volume                                                   
.DocumentRevisions-V100                                                                             
.fseventsd                                                                                          
.Spotlight-V100                                                                                     
.TemporaryItems                                                                                     
.Trashes                                                                                            
.VolumeIcon.icns                                                                                    
.com.apple.timemachine.donotpresent                                                                 

# Directories potentially created on remote AFP share                                               
.AppleDB                                                                                            
.AppleDesktop                                                                                       
Network Trash Folder                                                                                
Temporary Items                                                                                     
.apdisk                                                                                             

# IntelliJ project files                                                                            
.idea                                                                                               
*.iml                                                                                               
out                                                                                                 
gen   

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# IntelliJ project files
.idea
*.iml
out
gen
